@media screen and (max-width: 1920px) {
  .about-anims {
    .word {
      width: 153px;

      svg {
        height: 153px;
      }
    }
  }
}
@media screen and (max-width: 1750px) {
  .grid {
    .title {
      font-size: 46px;
    }
  }
}
@media screen and (max-width: 1650px) {
  .title strong::before {
    bottom: 1px;
  }

  .single-facade .cont .img img {
    top: -32%;
  }
  .pretty-list {
    gap: 60px 7%;
  }
  .pretty-stage__container .bot {
    margin-top: -110px;
  }
  .single-pretty {
    width: calc((100% / 3) - (14% / 3));
  }
  .single-facade .cont .text {
    padding: 6px 10px 0 20px;
    span {
      font-size: 26px;
      line-height: 1.2;
      margin-bottom: 7px;
    }
    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .single-pretty {
    &::before {
      font-size: 74px;
      line-height: 1.2;
    }

    span {
      font-size: 28px;
      line-height: 1.2;
    }

    p {

    }
  }
  .about-us__cont .text .title {
    max-width: 220px;
  }
  .about-us .container {
    padding-bottom: 190px;
  }
  .about-us__cont .text .paragraphs {
    padding-top: 60px;
  }
  .parallax-word {
    padding: 150px 0 120px;
  }
  .hero__container {
    height: 550px;
  }
  .hero-anims {
    .word {
      height: 331px;

      svg {
        width: 359px;
      }

      text {
        font-size: 118px;
      }
    }
  }
  .hero-anims .line-4 {
    height: 0;

    &.go {
      height: 70%;
    }
  }
  .title {
    font-size: 42px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1400px) {
  .our-works__cont .top {
    padding-bottom: 90px;
  }
  .our-works {
    margin-top: 90px;
  }
  .slider-photo {
    .btn-prev {


      transform: translate(0, -50%);

    }
    .btn-next {

      transform: translate(0, -50%);
    }
  }
  .form-cost__cont .right {
    padding-left: 5%;
  }
  .form-cost__cont .left .word svg text {
    font-size: 15vw;
  }
  .facades-list {
    gap: 50px;
  }
  .pretty-stage__container {
    .bot {
      margin-top: -68px;
    }
  }
  .pretty-list {
    gap: 40px;
  }
  .single-pretty {
    width: calc((100% / 3) - (80px / 3));
  }
  .container {
    width: 100%;
    max-width: 100%;
  }
  .hero__content {
    padding-top: 77px;

    p {
      top: 34px;
    }
  }
  .header-container {
    padding: 18px 0;
  }
  .logo {
    width: 190px;
  }
  .hero-anims {
    .word {
      right: calc(100% - 240px);
      margin-right: 0;
      top: 181px;

      svg {
        height: 8.5299vw;
      }
    }

    .line {
      &-1 {
        right: calc(100% - 240px);

      }

      &-2 {
        top: 190px;
        right: 0;
        margin-right: 0;
        width: 0;

        &.go {
          width: calc(100% - 240px);
        }
      }

      &-4 {
        top: 190px;
        height: 0;

        &.go {
          height: 80%;
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .grid .title {
    font-size: 32px;
  }
  .single-step::before {
    font-size: 64px;
    width: 90px;
    margin-right: 15px;
  }
  .single-step .text span {
    font-size: 26px;
    line-height: 1.2;
  }

}
@media screen and (max-width: 1200px) {
  .pretty-anims {
    height: 60px;
    .line {
      &-2 {
        &.go {
          height: 60px;
        }
      }
    }
  }
  .big-img {
    margin-top: 20px;
  }
  .about-us .container {
    padding-bottom: 80px;
  }
  .pretty-stage__container .left {
    padding-top: 40px;
  }
  .about-us__cont .text .paragraphs span, .about-us__cont .text .paragraphs p {
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 17px;
  }
  .about-anims .word text {
    font-size: 70px;
  }
  .about-anims .word {
    height: 208px;

    svg {
      width: 224px;
    }
  }
  .about-us__cont .text .paragraphs p {
    font-size: 14px;
    line-height: 1.2;
  }
  .hero-anims .word {
    width: 86px;
  }
  .hero .container {
    padding-top: 100px;
  }
  .hero-anims .word svg {
    height: 90px;
  }
  .title {
    font-size: 32px;

    i {
      font-size: 18px;
      line-height: 32px;
      vertical-align: middle;
    }
  }
}
@media screen and (max-width: 1100px) {
  .grid-steps .grid {
    padding: 20px 5%;
  }
  .facade-types__cont .top p {
    left: auto;
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .our-works__cont .top {
    padding-bottom: 30px;
  }
  .facades-list {
    gap: 50px 20px;
  }
  .single-facade {
    width: calc((100% / 3) - (40px / 3));
    .cont {
      .text {
        span {
          font-size: 20px;
          line-height: 1.2;
        }
        p {
          font-size: 12px;
          line-height: 1.2;
        }
      }
    }
  }
  .pretty-stage__container .left {
    padding-top: 0;
    margin-top: 0px;
  }
  .single-pretty {
    &::before {
      font-size: 60px;
    }

    span {
      font-size: 22px;

    }

    p {
      font-size: 14px;
    }
  }
  .pretty-list {
    gap: 40px;
  }
  .single-pretty {
    width: calc((100% / 2) - (40px / 2));
  }
  .parallax-word {
    padding: 90px 0 70px;

    p {
      font-size: 7vw;
      margin-left: 0;
      transform: translateX(30%);
    }
  }
  .menu-container {
    padding-left: 30px;
  }

  .header {
    border-bottom: 1px solid #AA9999;
  }
  .hero-anims {
    .word {
      right: auto;
      left: 15px;
      margin-right: 0;
      top: 120px;
      width: 70px;
      height: 252px;

      svg {
        height: 70px;

        text {
          font-size: 93px;
        }
      }
    }

    .line {
      &-1 {
        top: 122px;
        right: auto;
        left: 83px;
        height: 0;

        &.go {
          height: 56.4%;
        }
      }

      &-2 {
        top: 122px;
        right: 0;
        margin-right: 0;
        width: 0;

        &.go {
          width: calc(100% - 83px);
        }
      }

      &-3 {
        top: calc(56.4% + 122px);
        width: 0;

        &.go {
          width: 90%;
        }
      }

      &-4 {
        left: calc(90% + 15px);
        top: 122px;
        height: 0;

        &.go {
          height: 80%;
        }
      }
    }
  }
  .hero__content {
    padding-top: 24px;
    padding-bottom: 12%;
    width: calc(100% - 180px);

    p {
      top: auto;
      bottom: 50px;
    }
  }
  .hero__container {
    height: 390px;
  }
  .title {
    font-size: 26px;
  }
  .logo {
    width: 150px;
    margin-right: 12px;
  }
  .menu-container p, .menu-container a {
    font-size: 12px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 900px) {
  .call-us {
    right: 40px;
    width: 100px;
    height: 100px;
    .message {
      left: auto;
      right: 0;
      &::before {
        left: auto;
        right: 40px;
        transform: translate(0, -4px) rotate(90deg) rotateX(180deg);
      }
    }
  }
  .single-soc {
    width: 34px;
    height: 34px;
    padding: 6px;
  }
  .single-step::before {
    font-size: 54px;
    line-height: 1.2;
  }
  .single-step {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .grid-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .grid {
      width: 100%;
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(1) {
        order: 2;
        border-right: 1px solid #605555;
        border-top: none;
      }
      &:nth-child(3) {
        order: 3;
        border-right: 1px solid #605555;
        border-top: none;
      }
      &:nth-child(4) {
        order: 4;
        height: 450px;
      }

    }
  }
  .form form input {
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 12px;
    height: 48px;
  }
  .form form textarea {
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 12px;
  }
  .form form .btn {
    height: 48px;
    padding: 5px 12px;
  }
  .btn {
    font-size: 18px;
    line-height: 1.2;
  }
  .facade-types__cont .top {
    p {
      position: static;
      margin-top: 12px;
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .single-facade {
    width: calc(50% - 10px);
  }
  .single-facade .cont .img img {
    top: -40%;
    width: 135%;
    height: 135%;
  }
}
@media screen and (max-width: 700px) {
  .modal-container {
    padding: 30px;
  }
  .modal-cont {
    padding: 40px 20px;
  }
  .modal-close {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
  .modal-cont .title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 18px;
  }
  .video-bg {
    margin-top: 60px;
  }
  .our-works {
    margin-top: 35px;
  }
  .about-us .container {
    padding-bottom: 0px;
  }

  .about-anims .line-2.go {
    height: 60px;
  }
  .about-anims .word {
    top: 49px;
    width: 60px;
    right: -1px;

    svg {
      height: 60px;
    }
  }
  .about-us__cont .text {
    flex-direction: column;
    align-items: flex-start;

    .paragraphs {
      width: 100%;
      padding-right: 60px;
      padding-top: 25px;
      align-items: flex-start;

      span {
        font-size: 16px;
        line-height: 1.2;
      }

      p {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
  .parallax-word {
    padding: 60px 0 40px;

    p {
      font-size: 5.8vw;
      margin-left: 0;
      transform: translateX(15%);
    }
  }
  .header-container {
    padding: 10px 0;


  }
  .hero__container {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }
  .hero__content p {
    bottom: 20px;
    font-size: 12px;
    line-height: 1.2;
  }
  .logo {
    width: 150px;
    margin-right: 12px;
  }
  .menu-container p, .menu-container a {
    font-size: 12px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 625px) {
  .custom-file-upload {
    font-size: 16px;
  }
  .grid .title {
    font-size: 24px;
  }
  .single-step {
    &::before {
      font-size: 32px;
      margin-right: 10px;
      width: 52px;
      flex-shrink: 0;
    }
    .text {
      span {
        font-size: 20px;

      }
      p {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
  .form-cost__cont {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    .left {
      width: 100%;
    }

    .right {
      width: 100%;
      padding-left: 0;
      padding-bottom: 35px;
    }
  }
  .form-cost__cont .left .word {
    height: 90px;
    top: 70%;
    svg {
      height: 90px;
    }
  }
  .form-cost__cont .left .word svg text {
    font-size: 25vw;
  }
  .single-facade .cont .text {
    margin-top: 5px;
    padding: 0 5px;
    span {
      font-size: 16px;
      line-height: 1.2;
    }
    p {
      font-size: 12px;
    }
  }
  .facade-types__cont .bot {
    margin-top: 25px;
  }
  .facades-list {
    gap: 20px;
  }
  .single-facade .cont .img img {
    top: -40%;
  }
  .single-facade:nth-child(even) .cont .img img {
    top: 6%;
  }
  .pretty-list {
    gap: 30px 20px;

  }
  .single-pretty span {
    font-size: 18px;
  }
  .single-pretty {
    width: calc(50% - 10px);
  }
  .pretty-stage__container .bot {
    margin-top: 0;
  }
  .pretty-stage__container .top {
    flex-direction: column-reverse;
    margin-top: 40px;

    .left {
      max-width: 100%;
      margin-bottom: 20px;
      position: relative;
      z-index: 2;
      margin-top: 15px;
    }

    .img {
      width: 100%;
      padding-top: 60%;

      &::after {
        background: rgba(18, 18, 18, 0.28);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: inline-block;
        content: '';
      }
    }
  }

}

@media screen and (max-width: 525px) {
  .title i {
    line-height: 1.4;
  }
  .slider-photo .btn-prev {
    display: flex;
  }
  .slider-photo:nth-child(even) .btn-next {
    display: flex;
  }
  .single-pretty {
    p {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .grid-steps .grid:nth-child(4) {
    height: 320px;
  }
  .btns > * {
    width: 35px;
    height: 35px;
    &::before {
      width: 14px;
    }
  }
  .slider-photo {
    margin-left: 0 !important;
    margin-right: 0 !important;
    transform: none !important;
  }
  .hero-anims {
    .word {
      right: auto;
      left: 0;
      margin-right: 0;
      top: 80px;
      width: 40px;
      height: 172px;

      svg {
        height: 40px;

        text {
          font-size: 63px;
        }
      }
    }

    .line {
      &-1 {
        top: 82px;
        right: auto;
        left: 39px;
        height: 0;

        &.go {
          height: 56.4%;
        }
      }

      &-2 {
        top: 82px;
        right: 0;
        margin-right: 0;
        width: 0;

        &.go {
          width: calc(100% - 39px);
        }
      }

      &-3 {
        top: calc(56.4% + 82px);
        width: 0;
        left: 0;

        &.go {
          width: calc(90% + 15px);
        }
      }

      &-4 {
        left: calc(90% + 15px);
        top: 82px;
        height: 0;

        &.go {
          height: 80%;
        }
      }
    }
  }
  .logo {
    width: 88px;
  }
  .menu-container p, .menu-container a {
    font-size: 10px;
  }
  .menu-container {
    padding-left: 10px;

    ul {
      li {
        display: flex;
        margin-bottom: 2px;
      }
    }
  }
  .hero .container {
    padding-top: 70px;
  }
  .hero__container {
    height: 290px;
  }
  .title {
    font-size: 22px;

    i {
      font-size: 16px;
    }
  }
  .hero__content {
    width: calc(100% - 90px);
  }
  .hero__content p {
    bottom: 25px;
  }
}